<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dashboard_Villars_dotnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Dashboard_Villars_dotnet.Properties.Settings>
            <setting name="PLC_IP_Address" serializeAs="String">
                <value>10.247.10.2</value>
            </setting>
            <setting name="PLC_Rack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLC_Slot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLC_MachineStatus_DataBlock" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PLC_MachineStatus_MemoryLocation" serializeAs="String">
                <value>435</value>
            </setting>
        </Dashboard_Villars_dotnet.Properties.Settings>
    </applicationSettings>
</configuration>